nav {
	position: fixed;
	left:0;
	top: 0;
	z-index: 53;
	width: 100%;
}

nav ul {
	display: flex;
	list-style: none;
	font-family: calibri;
	padding: 0;
	margin: 0;
}

nav a {
	display: block;
	width: 80px;
	padding: 15px 20px;
	text-decoration: none;
	color: white;
	background-color: #c10302;
}

nav a:hover {
	background-color: #b00003;
	color: #ffffff;
	filter: none;
	transition:all .6s cubic-bezier(.19,1,.22,1);
}

nav ul li ul {
	display: none;
	opacity: 0.97;
}

nav ul li a:hover + ul, nav ul li ul:hover {
	display: block;
	filter: none;
}
